<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}"
        th:with="activeMenuItem='categories'">
<head>
</head>
<body>
<div layout:fragment="page-content">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <h1 class="text-2xl font-semibold">Categories</h1>
    </div>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <div class="py-4">
            <span>your tasks here</span>
        </div>
    </div>
</div>
</body>
</html>
